<% layout('layouts/boilerplate')%>
<style>
    body{
        background-color: rgb(126, 126, 126);
    }
</style>
<h1 style="font-size: 30px; font-weight: 200;">Great You F#$ked Up!</h1>
<h5><%= err %></h5>